@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: hsl(139, 100%, 97%);
  font-size: 1.2rem;
  color: #334680;
}

h1,
h2,
h3,
h4 {
  padding: 0.25rem 0;
}

.app {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container + .btn-container {
  margin-left: 1rem;
}
.btn-container {
  margin: 1rem 0;
}
.btn {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  outline: none;
  border: 2px #09a05d solid;
  border-radius: 1px;
  background: #09a05d;
  color: #fff;
}

.profile-details {
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  cursor: pointer;
  transition: all 300ms ease;
  border: 2px #fff solid;
  margin: 1rem auto;
  @media only screen and (min-width: 500px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 700px;
  }
}
.profile-details:hover,
.profile-details:focus {
  border: 2px #09a05d solid;
}

.gender {
  background: #09a05d;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  @media only screen and (min-width: 500px) {
    width: 20%;
  }
}
.payment {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.name,
.number {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  @media only screen and (min-width: 500px) {
    flex-direction: column;
    width: 50%;
  }
}

.form-container {
  margin: 1rem 0;
  padding: 2rem;

  .input {
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    border: 2px #09a05d solid;
  }
  .input:focus {
    border: 1px #09a05d solid;
    border-radius: 0;
  }
  .btn-input {
    border-radius: 0;
  }
  @media only screen and (min-width: 320px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;

    .input {
      padding: 0.3rem 6rem 0.3rem 0.5rem;
    }
  }
}

.pagination {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 0;
}

.page-item {
  display: flex;
  display: inline-block;
  list-style: none;
  padding: 1rem;
  border: 1px solid #334680;
}
.page-item {
  color: #334680;
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
